# 只忽略 build 目录, 不忽略 build 文件
build/
# 忽略 .metadata, .classpath, .project
resources/
.metadata/
.classpath
.project
.gradle/
gradle/
.settings/
.recommenders
RemoteSystemsTempFiles
bin/
jquery-easyui-1.5/
# 忽略所有 calss, jar, zip, 7z, tar, log, part
*.class
*.jar
*.zip
*.7z
*.tar
*.log
*.part
